@font-face {
  font-family: "iconfont"; /* Project id 602700 */
  src: url('iconfont%EF%B9%96t=1620977883771.woff2') format('woff2'),
       url('iconfont%EF%B9%96t=1620977883771.woff') format('woff'),
       url('iconfont%EF%B9%96t=1620977883771.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baike:before {
  content: "\e676";
}

.icon-video:before {
  content: "\e7bb";
}

.icon-school:before {
  content: "\e603";
}

.icon-print:before {
  content: "\e660";
}

.icon-read:before {
  content: "\eb6b";
}

.icon-weibo:before {
  content: "\e892";
}

.icon-yunshangchuan:before {
  content: "\e600";
}

.icon-yunxiazai:before {
  content: "\e601";
}

.icon-help:before {
  content: "\e602";
}

.icon-qzone:before {
  content: "\e80f";
}

.icon-nodata:before {
  content: "\e62e";
}

.icon-structure:before {
  content: "\e646";
}

.icon-qq:before {
  content: "\e647";
}

.icon-093info:before {
  content: "\e664";
}

.icon-more:before {
  content: "\e6d7";
}

.icon-kefu:before {
  content: "\e65f";
}

.icon-comment:before {
  content: "\e967";
}

.icon-excel:before {
  content: "\e60f";
}

.icon-image:before {
  content: "\e614";
}

.icon-message:before {
  content: "\e616";
}

.icon-pdf:before {
  content: "\e61b";
}

.icon-prompt:before {
  content: "\e61c";
}

.icon-ppt:before {
  content: "\e61f";
}

.icon-txt:before {
  content: "\e620";
}

.icon-word:before {
  content: "\e623";
}

.icon-tiaochawenjuan:before {
  content: "\e618";
}

.icon-article:before {
  content: "\e624";
}

.icon-fontsize2:before {
  content: "\e643";
}

.icon-fontsize1:before {
  content: "\e645";
}

.icon-share2:before {
  content: "\e684";
}

.icon-star2:before {
  content: "\e621";
}

.icon-star:before {
  content: "\e622";
}

.icon-shoujibao1:before {
  content: "\e644";
}

.icon-GKZHFW:before {
  content: "\e642";
}

.icon-shoujibao:before {
  content: "\e641";
}

.icon-cqzk:before {
  content: "\e640";
}

.icon-chengkao:before {
  content: "\e639";
}

.icon-gaokao:before {
  content: "\e63a";
}

.icon-shekao:before {
  content: "\e63b";
}

.icon-news:before {
  content: "\e63c";
}

.icon-study:before {
  content: "\e63d";
}

.icon-gaoxiao:before {
  content: "\e63e";
}

.icon-shitiku:before {
  content: "\e63f";
}

.icon-zikao:before {
  content: "\e634";
}

.icon-kaoyan:before {
  content: "\e635";
}

.icon-shoujibao2:before {
  content: "\e636";
}

.icon-window:before {
  content: "\e637";
}

.icon-share:before {
  content: "\e677";
}

.icon-share1:before {
  content: "\e67e";
}

.icon-home:before {
  content: "\e60d";
}

.icon-location:before {
  content: "\e61e";
}

.icon-qrcode:before {
  content: "\e613";
}

.icon-finish:before {
  content: "\e659";
}

.icon-close:before {
  content: "\e65a";
}

.icon-top:before {
  content: "\e65b";
}

.icon-left:before {
  content: "\e65c";
}

.icon-bottom:before {
  content: "\e65d";
}

.icon-right:before {
  content: "\e65e";
}

.icon-special:before {
  content: "\e617";
}

.icon-taobao:before {
  content: "\e6ff";
}

.icon-taobao1:before {
  content: "\e755";
}

.icon-weixin:before {
  content: "\e66c";
}

.icon-hot:before {
  content: "\e638";
}

.icon-search:before {
  content: "\e651";
}

.icon-weixin1:before {
  content: "\e694";
}

.icon-calendar:before {
  content: "\e60a";
}

.icon-backtop:before {
  content: "\e633";
}

